---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&amp;display=swap" rel="stylesheet">
</head>
<body>

   <header class="hero">
       <nav class="site-nav">
        <div class="logo">
        Fidel Perez
      </div>
      <a href="#" class="hamburger" id="nav-toggle"><span></span></a>
        <div class="links" id="nav-links">
          <a href="#abo">About</a> 
          <a href="#pro">Projects</a>
          <a href="#con">Contact</a>
        </div>
      </nav>
        <h1>Welcome</h1>

   </header>

  
  <main class="main page-content">{{ content | safe }}</main>

  <footer class="site-footer">
    <div class="footer-description">
      <p>&copy; Designed and Built by Fidel Perez 2023</p>
    </div>

   </footer>
   <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
   <!--    Load Local version if CDN is not working-->
   <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.6.3.min.js"><\/script>')</script>
   <!-- Site JavaScript file -->
   <script src="js/main.js"></script>

</body>
</html>





